nav {
  background: #eaedef;
  font-weight: 600;
}
nav ul li {
  border-radius: 7px;
}

nav ul li:hover {
  background-color: #b7b9b9;
  border-radius: 7px;
  width: auto;
  transition: 0.4s ease-in-out;
}

nav ul li:active {
  background-color: rgb(148, 185, 180);
  border-radius: 7px;
}

header .dropdown-menu {
  background: #eaedef;
}
nav ul li ul li .dropdown-item {
  font-weight: 600;
  color: #555;
}
nav ul li ul li .dropdown-item:hover {
  background: #b7b9b9;
  border-radius: 7px;
}
nav ul li ul li .dropdown-item:active {
  background-color: rgb(148, 185, 180);
  border-radius: 7px;
}

footer {
  font-size: 12px;
  width: 100%;
  height: 50px;
  display: table;
}
footer p {
  vertical-align: middle;
  display: table-cell;
  background-color: #527094;
}
