nav {
  /* background-color: #527094 !important; */
  background: #eaedef;
  font-weight: 600;
}
nav ul li {
  border-radius: 7px;
  padding-left: 7px;
  margin-right: 7px;
  padding: 0px !important;
  margin: 0px !important;
}
.nav-link.active {
  font-weight: bold !important; /* Add any additional styling as needed */
}

nav ul li:hover {
  background-color: #b7b9b9;
  border-radius: 7px;
  width: auto;
  transition: 0.4s ease-in-out;
}

nav ul li:active {
  background-color: rgb(148, 185, 180);
  border-radius: 7px;
}

.nav-link {
  padding: 0.1rem 0.8rem !important;
  margin-bottom: 3px;
}

header .dropdown-menu {
  background: #eaedef;
}
nav ul li ul li .dropdown-item {
  font-weight: 600;
  color: #555;
}
nav ul li ul li .dropdown-item:hover {
  background: #b7b9b9;
  border-radius: 7px;
}
nav ul li ul li .dropdown-item:active {
  background-color: rgb(148, 185, 180);
  border-radius: 7px;
}

@media only screen and (max-width: 600px) {
  nav ul li {
    margin: 4px 0px !important;
  }
}

footer {
  font-size: 12px;
  width: 100%;
  display: table;
}
footer p {
  vertical-align: middle;
  height: 70px;
  display: table-cell;
  background-color: #527094;
}
footer i {
  color: #fff;
  font-size: 20px;
  padding: 1px 5px;
  margin: 0px 5px;
  border-radius: 5px;
}
footer i.bi-youtube:hover {
  background-color: #fff;
  color: #ff0000 !important;
  transition: 0.2s ease-in-out !important;
}
footer i.bi-twitter:hover {
  background-color: #fff;
  color: #00acee !important;
  transition: 0.2s ease-in-out !important;
}
footer i.bi-linkedin:hover {
  background-color: #fff;
  color: #0072b1 !important;
  transition: 0.2s ease-in-out !important;
}

@media (max-width: 480px) {
  nav {
    background-color: #527094 !important;
    /* background: #eaedef; */
    font-weight: 600;
  }
  nav div button {
    background: white !important;
  }
  nav div div ul li a {
    color: #fff !important;
  }
  header .dropdown-menu {
    background: #5882b6;
  }
}
