* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html::-webkit-scrollbar {
  width: 7px;
}

html::-webkit-scrollbar-thumb {
  background-color: #b1b6ba;
  border-radius: 4px;
}

html::-webkit-scrollbar-track {
  background-color: #ffffff;
}
body {
  color: #555 !important;
  background-color: rgb(245, 245, 245) !important;
  /* background-color: rgb(255, 255, 255) !important; */
}
body img {
  -webkit-user-drag: none;
}
h2 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  letter-spacing: 1px;
}
h2:after {
  display: block;
  height: 2px;
  background-color: #c257dd;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
}
/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
h6 {
  margin-bottom: 2px !important;
}
header .drpdn-list {
  margin: 4px 10px !important;
}
/* Home Page  */
.home .card {
  width: auto;
  border: none;
  border-radius: 10px;
  background-color: #fff;
}
.home img {
  width: 200px;
}
.home .profile-img-sch {
  margin: 5px !important;
  width: 35px !important;
}
.home img {
  -webkit-user-drag: none;
}
.home .irins-img {
  width: 70px !important;
}
.home .scholar-images .scopus-img {
  width: 90px !important;
  border-radius: 50px !important;
}
.home .scholar-images a {
  color: transparent !important;
  /* text-decoration: none !important; */
}
.home .social-cards i {
  font-size: 25px;
  margin: 5px 10px;
}
.home .more-info a {
  text-decoration: none;
  font-weight: 400 !important;
}
.home .more-info b {
  font-weight: 600 !important;
}
.home i.bi-youtube {
  color: #ff0000 !important;
}
.home i.bi-twitter {
  color: #00acee !important;
}
.home i.bi-linkedin {
  color: #0072b1 !important;
}

/* about page  */
.bio_page .card-text {
  text-align: justify;
}
.bio_page .card {
  width: auto;
  border: none;
  border-radius: 10px;
  background-color: #fff;
}
.bio_page .card img {
  width: 100px !important;
}
.bio_page span {
  margin-bottom: 10px !important;
}
.bio_page b {
  font-size: 13px;
  background: #407088;
  font-weight: 500;
  padding: 3px 10px;
  color: #fff;
  border-radius: 7px;
}
.bio_page p {
  margin-bottom: 0.5rem !important;
}
.bio_page a {
  text-decoration: none;
}

@media (max-width: 770px) {
  .bio_page p,
  .bio_page span {
    font-size: 0.85rem !important;
    display: block;
  }
  .bio_page h5 {
    font-size: 1rem !important;
  }
}

/* research page  */
/* .research .carousel {
  height: 520px; for scroll indicator below image
} */
.carousel-inner img {
  height: 450px;
  width: auto !important;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 5px !important;
  border-radius: 8px;
  -webkit-user-drag: none;
}
.carousel-inner,
.research-videos p {
  font-weight: 500;
}
.research_ul {
  width: fit-content;
  margin: 0 auto;
}
.research .carousel-indicators {
  margin-top: 10px !important;
}
.research_ul li {
  text-align: justify;
}
.research video {
  border-radius: 7px;
}
.research .research-evolution {
  width: 300px !important;
}
.research hr {
  border: 1.5px solid;
}
.research-videos-tag {
  width: 400px;
}
@media (max-width: 767px) {
  .carousel-inner img {
    width: 200px !important;
    height: 300px;
  }
  .research-videos-tag {
    width: 350px;
  }
}

/*  */

/* teaching page */
.teaching-page .accordion-body {
  background-color: #ffffff;
}
.accordion-body ul li {
  margin-bottom: 5px;
  text-align: justify;
}
h3 button {
  font-weight: 600 !important;
}
.link-btn {
  line-height: 0px !important;
}
.accordion-button::after {
  display: none;
}
.teaching-page .list-group i {
  font-size: 15px;
  color: #787878;
}
.teaching-page .list-group b {
  font-weight: 700;
}
.teaching-page .nested-li {
  line-height: 17px;
  font-size: 13.5px;
}
h3 button:hover {
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  /* background: radial-gradient(
    circle at 0% 0.5%,
    rgb(241, 241, 242) 0.1%,
    rgb(224, 226, 228) 100.2%
  ); */
}
/* Publications */
/* .publication-header {
  background: url("../images/collage.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 200px;
} */
.publication ol li {
  margin-bottom: 15px;
  text-align: justify;
  padding: 5px 10px;
  border-radius: 7px;
}
.publication ol li:hover {
  background-color: #ebebeb;
  transition: 0.3s ease-in-out;
}

.publication h5 {
  text-transform: uppercase;
  margin: 15px 5px 7px 3px !important;
}
.publication .profile-img-sch {
  margin: 5px;
  width: 70px;
}
.publication img {
  -webkit-user-drag: none;
}
.publication .irins-img {
  width: 100px !important;
}
/* .publication .scholar-images .scopus-img {
  width: 90px;
  border-radius: 50px;
} */
.publication .scholar-images a {
  color: transparent !important;
  /* text-decoration: none !important; */
}
.publication a {
  text-decoration: none !important;
}
@media (max-width: 767px) {
  .publication .profile-img-sch {
    width: 35px;
    margin: 0px;
  }
  .publication .irins-img {
    width: 70px !important;
  }
}

/* Current/Alumni members */
.current_members .std-year {
  font-size: 11px;
  background: #407088;
  font-weight: 500;
  padding: 1px 8px 2px 8px;
  color: #fff;
  border-radius: 5px;
}
.current_members .profile-img-sch {
  margin: 5px !important;
  width: 30px !important;
}
.current_members .irins-img {
  width: 70px !important;
}
.current_members .scholar-images a {
  color: transparent !important;
  /* text-decoration: none !important; */
}
.current_members .profile {
  padding: 25px 0px;
  margin: 10px;
  border-radius: 0px 25px 0px 25px;
  background-color: #d6d6d6;
}
.current_members img {
  width: 140px;
  -webkit-user-drag: none;
}
.current_members .profile i {
  padding: 0px 8px 0px 0px;
}
.current_members .profile .std-name {
  margin-left: -5px;
}
@media (max-width: 767px) {
  .std-img-container {
    margin-bottom: 10px !important;
  }
  .current_members .profile {
    padding: 10px 0px;
    border-radius: 10px 10px 10px 10px;
  }
  .current_members .profile .card {
    width: auto !important;
    margin: 10px !important;
  }
}

/* projects page  */
.projects .card {
  margin-bottom: 1rem !important;
}
.projects .card-header {
  background-color: #46658b;
  color: azure;
  font-weight: 600;
}
.projects .btn {
  background-color: #6387b4 !important;
  color: #ffffff;
  font-weight: 600;
}
.projects .project-year {
  font-size: 11px;
  background: #5b8ec5;
  font-weight: 500;
  padding: 2px 8px 2px 8px;
  color: #fff;
  border-radius: 5px;
}
.projects .bi::before {
  font-size: 20px;
  color: #3b82f6;
  font-weight: bold !important;
}
.timeline-steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.timeline-steps .timeline-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem;
}

.timeline-steps .timeline-step:not(:last-child):after {
  content: "";
  display: block;
  border-top: 0.25rem dotted #3b82f6;
  width: 1.46rem;
  position: absolute;
  left: 3.3rem;
  top: 0.3125rem;
}

.timeline-steps .timeline-content {
  width: 3rem;
  text-align: center;
}

.timeline-steps .timeline-content .inner-circle {
  border-radius: 1.5rem;
  height: 1rem;
  width: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #3b82f6;
}

.timeline-steps .timeline-content .inner-circle:before {
  content: "";
  background-color: #3b82f6;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  min-width: 2rem;
  border-radius: 6.25rem;
  opacity: 0.5;
}
/* contact page  */
.contact img {
  width: 30px;
}
.contact iframe {
  border-radius: 7px;
}
