* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #555 !important;
  background-color: rgb(245, 245, 245) !important;
  /* background-color: rgb(233, 227, 227) !important; */
}
h2 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  letter-spacing: 1px;
}
h2:after {
  display: block;
  height: 2px;
  background-color: #c257dd;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

h6 {
  margin-bottom: 2px !important;
}

/* research page  */
.carousel-inner img {
  height: 450px;
  width: auto !important;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 5px !important;
  border-radius: 8px;
  -webkit-user-drag: none;
}
.carousel-inner p {
  font-weight: 500;
}
.research_ul {
  width: fit-content;
  margin: 0 auto;
}

.research_ul li {
  text-align: justify;
}
/* teaching page */
/* .teaching .accordion-button {
  border-radius: 7px !important;
} */
.accordion-body ul li {
  margin-bottom: 5px;
  text-align: justify;
}

h3 button {
  font-weight: 600 !important;
}

h3 button:hover {
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  /* background: radial-gradient(
    circle at 0% 0.5%,
    rgb(241, 241, 242) 0.1%,
    rgb(224, 226, 228) 100.2%
  ); */
}
/* Publications */
.publication ol li {
  margin-bottom: 15px;
  text-align: justify;
  padding: 5px 10px;
  border-radius: 7px;
}
.publication ol li:hover {
  background-color: #ebebeb;
  transition: 0.3s ease-in-out;
}

.publication h5 {
  text-transform: uppercase;
  margin: 15px 5px 7px 3px !important;
}

/* Current members */
.current_members img {
  width: 100px;
}
/* projects page  */
.projects .card {
  margin-bottom: 1rem !important;
}

.projects .card-header {
  background-color: #2c786c;
  color: azure;
  font-weight: 600;
}

.projects .btn {
  background-color: #3baea0 !important;
  color: #ffffff;
  font-weight: 600;
}

.timeline-steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.timeline-steps .timeline-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem;
}

.timeline-steps .timeline-step:not(:last-child):after {
  content: "";
  display: block;
  border-top: 0.25rem dotted #3b82f6;
  width: 1.46rem;
  position: absolute;
  left: 3.3rem;
  top: 0.3125rem;
}

.timeline-steps .timeline-content {
  width: 3rem;
  text-align: center;
}

.timeline-steps .timeline-content .inner-circle {
  border-radius: 1.5rem;
  height: 1rem;
  width: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #3b82f6;
}

.timeline-steps .timeline-content .inner-circle:before {
  content: "";
  background-color: #3b82f6;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  min-width: 2rem;
  border-radius: 6.25rem;
  opacity: 0.5;
}
/* contact page  */
.contact img {
  width: 30px;
}
.contact iframe {
  border-radius: 7px;
}
